Introduction to Data Frames

In [7]:
import pandas as pd

df = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [8, 9, 10]
], columns=["A", "B", "C"]
, index = ["X", "Y", "Z"])

In [8]:
#df.head(2) First 2 rows
#df.tail(2)  Last 2 rows
#df.columns Headers
#df.index row indices
#df.info() Gives info on bytes or data types
#df.unique("A") Unique values in column A
#df.shape() Gives shape of the data frame row vs columns
#df.size() Total number of items
df.describe() #Gives data info on mean, stddev, median

              A         B          C
count  3.000000  3.000000   3.000000
mean   4.333333  5.333333   6.333333
std    3.511885  3.511885   3.511885
min    1.000000  2.000000   3.000000
25%    2.500000  3.500000   4.500000
50%    4.000000  5.000000   6.000000
75%    6.000000  7.000000   8.000000
max    8.000000  9.000000  10.000000

Loading Frames from Files

In [9]:
coffee = pd.read_csv("./warmup-data/coffee.csv")
results = pd.read_parquet("./data/results.parquet")
olympics_data = pd.read_excel("./data/olympics-data.xlsx", sheet_name = "results") #You can specify which excel sheet in that file
bios = pd.read_csv("./data/bios.csv")
#.to_excel, .to_xlsx to change the file type

Accessing Data with Pandas

In [ ]:
#coffee.head(10)
#coffee -> will print out everything, can also use display(coffee)
#coffee.sample(10) Gets 10 random
#coffee.loc[row_label, column_label] loc is name-based
#coffee.loc[0:3] #Return the value and information at index names 0 to 3
#coffee.index = coffee.Day All the indices are set to their corresponding days
coffee.iloc[:, [0,2]] #iloc is postion-based

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [ ]:
#coffee.at[0, "Units Sold"]  Returns the value at the row-column intersection
coffee.iat[0, 1] #Integer based searching
#iat and at are optimized to search for a single value

'Espresso'

In [ ]:
#coffee.Day gets the Day column but only works if one word
#coffee["Units Sold"] to get the Units Sold row